@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,900,500|Libre+Baskerville:400,700|Valera);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300);
body{
	margin: 0px;
}
h1{
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #F3F3F4;
	font-weight: 400;
}
h2{
}
h3{
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1.5;
    text-transform: uppercase;
}
.orangeh3{
	color: #EA5A3B;
}
h4{
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	color: #F3F3F4;
	font-weight: 400;
}
h5{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #1B5887;
}
h6{
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #E7E8E9;
	font-weight: 400;
}
p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
nav a{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 14px;
	margin-left: 5px; 
	margin-right: 5px;
	color: white;
}
.black-text{
	color: black;
}
.defined-width-text{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
.centered-text{
	text-align: center;
}
.thin-orange-divider-line{
	background-color: #EA5A3B;
	height: 2px;
	width: 700px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.thick-orange-divider-line{
	background-color: #EA5A3B;
	height: 10px;
	width: 700px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.thin-small-orange-divider-line{
	background-color: #EA5A3B;
	height: 2px;
	width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.thin-small-grey-divider-line{
	width: 200px;
	height: 2px;
	background-color:#959395;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.thin-large-grey-divider-line{
	width: 500px;
	height: 2px;
	background-color:#959395;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}








/*---------------------------------------FOOTER---------------------------------------------------------------------------*/


footer{
	text-align: center;
	background-color: white;
}
.footer-phone-number{
	display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-address-line{
	display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    color: #292D2F !important;
    vertical-align: top;
}
.address-container{
	width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.phone-container{
	width: 100%;
}
.footer-icons{
	display: inline;
    vertical-align: top;
    margin-left: 80px;
    margin-right: 80px;
}
.footer-icon-container{
	height: 31.5;
    background-color: #292D2F;
    margin-bottom: 50;
}
.index-footer-icon-container{
    height: 31.5;
    background-color: white;
    margin-bottom: 50;
}
.index-footer{
	background-color: #292D2F;
}
.index-footer p{
	color: white !important;
}


/*---------------------------------------END FOOTER-----------------------------------------------------------------------*/









/*---------------------------------------PAGES W/O UNIV STYLING-----------------------------------------------------------*/


.non-lander-body{
	background-color: #292D2F;
}
.non-lander-body p{
	color: white;
	letter-spacing: .5;
}
.alternate-nav{
	background-color: white;
	height: 65px;
}
.alternate-nav a{
	color: #292D2F;
}
#header-logo{
	padding-top: 10px;
    display: inline;
    vertical-align: middle;
    padding-left: 50px;
}


/*---------------------------------------END PAGES W/O UNIV STYLING-------------------------------------------------------*/









/*------------------------------------------HOME PAGE---------------------------------------------------------------------*/


#home-page-body{
	background-color: #ffffff;
	margin: 0px;
	text-align: center;
}
#home-page-nav{
	background-color: #292D2F;
	height: 250px;
	text-align: center;
}
#home-page-nav nav{
	margin-top: 50px;
}
#home-page-logo{
	width: 700px;
	height: auto;
	margin-top: 50px;

}
#lander-photo-box img{
	width: 100%;
	height: auto;
}
#lander-photo-box{
	height: 650px;
}
#trust-the-results{
	text-align: center;
    z-index: 10;
    margin-top: 0px;
    position: relative;
    top: -340;
    font-size: 55px;
    opacity: 1;
}
#lander-philosophy-box p{
	width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
#big-quotation{
	color: #1B5887;
	font-size: 172px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
}


/*------------------------------------------END HOME PAGE-----------------------------------------------------------------*/







/*------------------------------------------ABOUT-----------------------------------------------------------------*/


#about-image-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
	width: 700px;
}
.about-image{
}
/*photo slideshow*/
#img-grp-wrap {
    position: relative;
    width: 580px;
    height: 435px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img-wrap {
    width: 580px;
    height: 500px;
    overflow: hidden;
}

.img-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 580;
    height: auto;
}

.next, .prev {
    position: absolute;
    cursor: pointer;
    top: 70px;
}

.next {
    right: -40px;
    font-size: 75px;
}

.prev {
    left: -40px;
    font-size: 75px;
}
.next:hover {
    color: #EA5A3B;
}

.prev:hover {
    color: #EA5A3B;
}


/*------------------------------------------END ABOUT-----------------------------------------------------------------*/







/*------------------------------------------PRACTICE AREAS----------------------------------------------------------------*/


#practice-areas-link-box{
	width: 320px;
    background-color: #F1F1F2;
    border-radius: 10px;
    overflow: hidden;
}
#practice-areas-link-box h5{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    background-color: #E38967;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .5;
}
#overview-services-link-box{
	list-style: none;
	padding-left: 0px;
}
#overview-services-link-box a{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #535252;
}
#overview-services-link-box a:hover{
	color: #E38967;
}
#overview-services-link-box li{
    margin-top: 3px;
    margin-bottom: 3px;
}   


/*------------------------------------------END PRACTICE AREAS------------------------------------------------------------*/







/*------------------------------------------RESULTS-----------------------------------------------------------------------*/


.results-container{
	margin-bottom: 50px;
}
.blue-results-box{
	background-color: #1B5887;

}
.clear-results-box, .blue-results-box{
	width: 70%;
	text-align: center;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}
.clear-results-box h5, .blue-results-box h5{
	color: white;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
}
.clear-results-box p, .blue-results-box p{
    width: 800;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------END RESULTS-----------------------------------------------------------------------*/







/*--------------------------------------CONTACT---------------------------------------------------------------------------*/


.contact-box-1{
	text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.contact-box{
	margin-top: 35px;
	width: 300px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.contact-box h5{
	color: white;
	margin-top: 0px;
}
.bold-location{
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/*--------------------------------------END CONTACT-----------------------------------------------------------------------*/





/*--------------------------------------ATTORNEYS-----------------------------------------------------------------------*/

.attorney-box h5{
	margin-bottom: 10px;
	
}
.attorney-photo{
	width: 450px;
	height: auto;
}
.attorney-box{
	margin-top: 25px;
	margin-bottom: 25px;
}


/*--------------------------------------END ATTORNEYS-----------------------------------------------------------------------*/