@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,900,500|Libre+Baskerville:400,700|Lato:400,300);
body{

}
h1{

}
h2{
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #F3F3F4;
	text-align: center;
	font-weight: 400;
}
h3{
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
	font-size: 36px;
	text-align: center;

}
h4{
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	color: #F3F3F4;
	text-align: center;
	font-weight: 400;

}
h5{
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #1B5887;

}
h6{
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #E7E8E9;
	font-weight: 400;
}
.defined-width-text{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
.centered-text{
	text-align: center;
}
.thin-orange-divider-line{
	background-color: #EA5A3B;
	height: 2px;
	width: 700px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.thick-orange-divider-line{
	background-color: #EA5A3B;
	height: 10px;
	width: 700px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.thin-small-grey-divider-line{
	width: 200px;
	height: 2px;
	background-color:#959395;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.thin-large-grey-divider-line{
	width: 500px;
	height: 2px;
	background-color:#959395;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.footer-phone-number{
	display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-address-line{
	display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
}
.address-container{
	width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.phone-container{
	width: 100%;
}
/*PAGES OTHER THAN HOME UNIV STYLING*/
.non-lander-body{
	margin: 0px;
	background-color: #2E3335;
}
.non-lander-body p{
	color: white;
}
.alternate-nav{
	background-color: white;
	height: 50px;
}
.alternate-nav a{
	font-family: 'Alegreya Sans', sans-serif;
	color: #2E3335;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 14px;
	margin-left: 5px; 
	margin-right: 5px;
}
/*END PAGES OTHER THAN HOME UNIV STYLING*/


/*HOME PAGE*/
#home-page-body{
	background-color: #ffffff;
	margin: 0px;
	text-align: center;
}
#home-page-nav{
	background-color: #2E3335;
	height: 250px;
	text-align: center;
}
#home-page-nav nav{
	margin-top: 50px;
}
#home-page-logo{
	width: 700px;
	height: auto;
	margin-top: 50px;

}
#home-page-nav a{
	font-family: 'Open Sans', sans-serif;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 14px;
	margin-left: 10px; 
	margin-right: 10px;
}
#lander-photo-box img{
	width: 100%;
	height: auto;
}
#trust-the-results{
	text-align: center;
    z-index: 10;
    margin-top: 0px;
    position: relative;
    top: -340;
    font-size: 60px;
}
#lander-philosophy-box p{
	width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}
#big-quotation{
	color: #1B5887;
	font-size: 172px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
}

/*END HOME PAGE*/

/*RESULTS PAGE*/
.blue-results-box{
	background-color: #1B5887;

}
.clear-results-box, .blue-results-box{
	width: 70%;
	text-align: center;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}
.clear-results-box h5, .blue-results-box h5{
	color: white;
}

/*end RESULTS PAGE*/

/*CONTACT*/
.contact-box{
	width: 300px;
}

/*END CONTACT*/
