@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,900,500|Libre+Baskerville:400,700|Valera);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300);
body{
	margin: 0px;
}
h1{
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #F3F3F4;
	font-weight: 400;
}
h2{
}
h3{
	font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1.5;
    text-transform: uppercase;
}
.orangeh3{
	color: #EA5A3B;
}
h4{
	font-family: 'Libre Baskerville', serif;
	font-size: 24px;
	color: #F3F3F4;
	font-weight: 400;
}
h5{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #1B5887;
}
h6{
	font-family: 'Libre Baskerville', serif;
	font-size: 36px;
	color: #E7E8E9;
	font-weight: 400;
}
p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
nav a{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 14px;
	margin-left: 5px; 
	margin-right: 5px;
	color: white;
}
.defined-width-text{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}
.centered-text{
	text-align: center;
}
.thin-orange-divider-line{
	background-color: #EA5A3B;
	height: 2px;
	width: 700px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.thick-orange-divider-line{
	background-color: #EA5A3B;
	height: 10px;
	width: 700px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
.thin-small-grey-divider-line{
	width: 200px;
	height: 2px;
	background-color:#959395;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.thin-large-grey-divider-line{
	width: 500px;
	height: 2px;
	background-color:#959395;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}









/*---------------------------------------FOOTER---------------------------------------------------------------------------*/


footer{
	text-align: center;
}
.footer-phone-number{
	display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}
.footer-address-line{
	display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
}
.address-container{
	width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.phone-container{
	width: 100%;
}


/*---------------------------------------END FOOTER-----------------------------------------------------------------------*/









/*---------------------------------------PAGES W/O UNIV STYLING-----------------------------------------------------------*/


.non-lander-body{
	background-color: #2E3335;
}
.non-lander-body p{
	color: white;
	letter-spacing: .5;
}
.alternate-nav{
	background-color: white;
	height: 50px;
}
.alternate-nav a{
	color: #2E3335;
}


/*---------------------------------------END PAGES W/O UNIV STYLING-------------------------------------------------------*/









/*------------------------------------------HOME PAGE---------------------------------------------------------------------*/


#home-page-body{
	background-color: #ffffff;
	margin: 0px;
	text-align: center;
}
#home-page-nav{
	background-color: #2E3335;
	height: 250px;
	text-align: center;
}
#home-page-nav nav{
	margin-top: 50px;
}
#home-page-logo{
	width: 700px;
	height: auto;
	margin-top: 50px;

}
#lander-photo-box img{
	width: 100%;
	height: auto;
}
#trust-the-results{
	text-align: center;
    z-index: 10;
    margin-top: 0px;
    position: relative;
    top: -340;
    font-size: 70px;
}
#lander-philosophy-box p{
	width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
#big-quotation{
	color: #1B5887;
	font-size: 172px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
}


/*------------------------------------------END HOME PAGE-----------------------------------------------------------------*/








/*------------------------------------------PRACTICE AREAS----------------------------------------------------------------*/


#overview-services-link-box{
	list-style: none;
}


/*------------------------------------------END PRACTICE AREAS------------------------------------------------------------*/







/*------------------------------------------RESULTS-----------------------------------------------------------------------*/


.blue-results-box{
	background-color: #1B5887;

}
.clear-results-box, .blue-results-box{
	width: 70%;
	text-align: center;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
}
.clear-results-box h5, .blue-results-box h5{
	color: white;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 40px;
}


/*--------------------------------------END RESULTS-----------------------------------------------------------------------*/







/*--------------------------------------CONTACT---------------------------------------------------------------------------*/


.contact-box-1{
	text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.contact-box{
	margin-top: 35px;
	width: 300px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}
.contact-box h5{
	color: white;
	margin-top: 0px;
}
.bold-location{
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/*--------------------------------------END CONTACT-----------------------------------------------------------------------*/
